.display-apply {
    display: inline-block;
    /* visibility: hidden; */
}

.apply-position {
    position: sticky;
    /* position: absolute; */
    top: 5px;
    left: 5px
    /* bottom: 100px;
         left: 20px;
         right: 10px; */
}